Usage of `file` URI scheme deviating from IETF standard

I identified this concern in PR #82 - not yet merged.

The codebase allows URIs like `file:foo` while they are forbidden by the IETF standard for the `file` URI scheme. See module `sse_cfg_pipeline`. This may:
- Surprise the users writing the XML files.
- Surprise the developers of the code in this repo, leading to unexpected code changes.

Alternatives include:
- Mention in some docs.
- Definition of URI scheme different from `file`.

In the following there are the relevant analysis from the IETF standard.

----

The `file` URI scheme includes an optional host.  Also, it require the
path to be absolute.

The `file` URI scheme is defined in RFC 8089 (see
https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml ).

From https://tools.ietf.org/html/rfc8089#section-2 :

```
2.  Syntax

   The file URI syntax is defined here ...
   ..., importing the "host" and "path-absolute" rules from
   [RFC3986] (as updated by [RFC6874]).

...

      file-URI       = file-scheme ":" file-hier-part
      file-scheme    = "file"
      file-hier-part = ( "//" auth-path )
                     / local-path
      auth-path      = [ file-auth ] path-absolute
      local-path     = path-absolute
      file-auth      = "localhost"
                     / host

...

   As a special case, the "file-auth" rule can match the string
   "localhost" that is interpreted as "the machine from which the URI is
   being interpreted," exactly as if no authority were present.  Some
   current usages of the scheme incorrectly interpret all values in the
   authority of a file URI, including "localhost", as non-local.  Yet
   others interpret any value as local, even if the "host" does not
   resolve to the local machine.  To maximize compatibility with
   previous specifications, users MAY choose to include an "auth-path"
   with no "file-auth" when creating a URI.
```

From https://tools.ietf.org/html/rfc3986#section-3.3 :

```
      path-absolute = "/" [ segment-nz *( "/" segment ) ]
```
(Notice `/` as the first character.)

Fixed by #82